.address-wrap {
	width: calc((100% - 30px * 3) / 4);
	margin-right: 30px;
}

.address {
	margin-top: 20px;
}

.address__list {
	font-style: normal;
	line-height: 1.71;

	&:first-child {
		color: $footer-logo-color;
	}
}

.address__item:not(:last-child) {
	margin-bottom: 9px;
}

.address__link {
	color: $footer-link-color;
	transition: color $transition-time $transition-function;

	&:hover,
	&:focus {
		color: $accent-color;
	}
}