.form-button {
	display: inline-flex;
	width: 200px;
	height: 50px;
	justify-content: center;
	align-items: center;
	background-color: $accent-color;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.06em;
	color: #ffffff;
	cursor: pointer;
	transition: background-color $transition-time $transition-function;

	&:hover,
	&:focus {
		background-color: $accent-hover-color;
	}
}

.filter__button {
	padding: 6px 22px;
	border: none;
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62; /* identical to box height, or 162% */
	color: $title-text-color;
	background-color: $button-background-color;
	border-radius: 4px;
	cursor: pointer;
	transition: color $transition-time $transition-function, background-color $transition-time $transition-function,
		box-shadow $transition-time $transition-function;

	&:hover,
	&:focus {
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
		color: $hero-text-color;
		background-color: $accent-color;
	}
}

.close-button {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.close-button__icon {
	position: absolute;
	width: 11px;
	height: 11px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	fill: #000000;
	transition: fill $transition-time $transition-function;

	.close-button:hover &,
	.close-button:focus & {
		fill: $accent-color;
	}
}
