.current-page {
	color: $accent-color;

	&::after {
		position: absolute;
		bottom: -8px;
		left: 50%;
		transform: translate(-50%, 0);
		content: "";
		width: 100%;
		height: 4px;
		border-radius: 2px;
		background-color: $accent-color;

		@media screen and (min-width: $tablet) {
			bottom: -33px;
			left: 0;
			width: 100%;
			transform: translate(0);
		}
	}
}
