.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form__label {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	cursor: pointer;

	&:not(:nth-child(4)) {
		margin-bottom: 10px;
	}
	&:nth-child(4) {
		margin-bottom: 20px;
	}
}

.form__text {
	display: inline-block;
	margin-bottom: 4px;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.01em;
	color: $primary-text-color;
}

.form__field {
	width: 100%;
	height: 40px;
	outline: none;
	padding-left: 42px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.03em;
	background-color: transparent;
	cursor: pointer;
	transition: border-color $transition-time $transition-function;

	&:hover,
	&:focus {
		border-color: $accent-color;
	}
}

.form__textarea {
	height: 120px;
	padding: 12px 16px;

	&::placeholder {
		font-weight: normal;
		font-size: 12px;
		line-height: 20px;
		letter-spacing: 0.01em;
		color: rgba(117, 117, 117, 0.5);
	}
}

.form__icon {
	position: absolute;
	left: 12px;
	bottom: 11px;
	width: 18px;
	height: 18px;
	fill: $title-text-color;
	transition: fill $transition-time $transition-function;
	z-index: -1;

	.form__field:hover + &,
	.form__label:focus-within & {
		fill: $accent-color;
	}
}

.form__deal {
	display: flex;
	height: 24px;
	margin-bottom: 30px;
	line-height: 1.714;
	align-items: center;
	cursor: pointer;
}

.form__checkbox:not(:checked) + .form__custom-checkbox {
	border: 2px solid $title-text-color;
	border-radius: 2px;
}

.form__checkbox:checked + .form__custom-checkbox {
	border-color: transparent;
	transition: background-color $transition-time $transition-function;
	background-image: url(../images/icons/check.svg);
}

.form__checkbox:not(:checked):hover + .form__custom-checkbox,
.form__checkbox:not(:checked):focus + .form__custom-checkbox {
	border-color: $accent-color;
}

.form__custom-checkbox {
	display: inline-block;
	width: 16px;
	height: 15px;
	margin-right: 8px;
	vertical-align: middle;
}

.form__accept {
	margin: 0 4px 0 0;
	color: $primary-text-color;
}

.form__link {
	color: $accent-color;
}
