.logo {
	font-family: "Raleway", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.167;
	letter-spacing: 0.03em;

	@media screen and (min-width: $desktop) {
		font-size: 26px;
		line-height: 1.192;
	}
}

.logo__header {
	color: $header-logo-color;

	@media screen and (min-width: $desktop) {
		margin-right: 93px;
	}
}

.logo__footer {
	color: $footer-logo-color;
}

.logo--accent {
	color: $accent-color;
	transition: color $transition-time $transition-function;

	.logo__header:hover > &,
	.logo__header:focus > &,
	.logo__footer:hover > &,
	.logo__footer:focus > & {
		color: $accent-hover-color;
	}
}
