.clients {
	flex-wrap: wrap;
}

.clients__item:not(:nth-child(6n)) {
	margin-right: 30px;
}

.clients__item:nth-child(n + 7) {
	margin-top: 30px;
}

.clients__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 90px;
	border: 1px solid $clients-icon-color;
	border-radius: 4px;
	transition: border-color $transition-time $transition-function;

	&:hover,
	&:focus {
		border-color: $accent-color;
	}
}

.clients__icon {
	fill: $clients-icon-color;
	transition: fill $transition-time $transition-function;

	.clients__item:nth-child(1) & {
		width: 44px;
		height: 49px;
	}

	.clients__item:nth-child(2) & {
		width: 40px;
		height: 52px;
	}

	.clients__item:nth-child(3) & {
		width: 41px;
		height: 42px;
	}

	.clients__item:nth-child(4) & {
		width: 80px;
		height: 42px;
	}

	.clients__item:nth-child(5) & {
		width: 59px;
		height: 47px;
	}

	.clients__item:nth-child(6) & {
		width: 88px;
		height: 45px;
	}

	.clients__link:hover &,
	.clients__link:focus & {
		fill: $accent-color;
	}
}
