.footer-background {
	background-color: $footer-background-color;
}

.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	@media screen and (max-width: $desktop - 1px) {
		display: flex;
		flex-wrap: wrap;
	}
	@media screen and (min-width: $desktop) {
		display: flex;
		align-items: baseline;
	}
}