.header-border {
	border-bottom: 1px solid $header-border-color;
}

.header {
	// display: flex;
	position: relative;
	// justify-content: flex-end;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;

	@media screen and (min-width: $tablet) {
		padding-top: 21px;
		padding-bottom: 21px;
	}

	@media screen and (min-width: $desktop) {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

.navigation-box {
	// display: flex;
	// display: none;
	// align-items: center;
	// margin-right: auto;
}

.navigation,
.contacts {
	display: inline-block;
	background-color: rgba(0, 128, 128, 0.2);
}

.navigation__item {
	position: relative;

	@media screen and (max-width: $tablet - 1px) {
		display: flex;
		justify-content: center;
	}

	&:first-child {
		margin-bottom: 52px;
	}

	&:last-child {
		margin-top: 40px;
	}
}

.contacts__item {
	@media screen and (max-width: $tablet - 1px) {
		display: flex;
		justify-content: center;
	}

	&:not(:last-child) {
		margin-bottom: 16px;
	}
}

// desktop
// .navigation__item {
// 	position: relative;

// 	&:not(:last-child) {
// 		margin-right: 50px;
// 	}
// }

// desktop
// .contacts__item:not(:last-child) {
// 	margin-right: 30px;
// }

.navigation__link,
.contacts {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: $title-text-color;
	transition: color $transition-time $transition-function;
}

.contacts__link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: $primary-text-color;
	transition: color $transition-time $transition-function;

	&:hover,
	&:focus {
		color: $accent-color;
	}
}

.envelope {
	width: 16px;
	height: 12px;
	margin-right: 10px;
	fill: $primary-text-color;
	transition: fill $transition-time $transition-function;

	.contacts__link:hover &,
	.contacts__link:focus & {
		fill: $accent-color;
	}
}

.smartphone {
	width: 10px;
	height: 16px;
	margin-right: 10px;
	fill: $primary-text-color;
	transition: fill $transition-time $transition-function;

	.contacts__link:hover &,
	.contacts__link:focus & {
		fill: $accent-color;
	}
}

.navigation__link:hover,
.navigation__link:focus {
	color: $accent-color;
}
