.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: $hero-background-color;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.hero__title {
	margin-top: 0;
	margin-bottom: 30px;
	font-weight: 900;
	font-size: 44px;
	line-height: 60px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: $hero-text-color;
}