.portfolio {
	display: flex;
	flex-wrap: wrap;
}
.portfolio__item {
	width: calc((100% - 30px * 2) / 3);
	border: 1px solid #eeeeee;
	transition: box-shadow $transition-time $transition-function;

	&:not(:nth-child(3n)) {
		margin-right: 30px;
	}

	&:not(:nth-last-child(-n + 3)) {
		margin-bottom: 30px;
	}

	&:hover,
	&:focus-within {
		border: 1px solid rgba(0, 0, 0, 0.16);
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
}

.portfolio__link {
	text-decoration: none;
}

.portfolio__card {
	padding: 20px 24px;
}

.portfolio__title {
	margin: 0 0 4px;
	font-weight: 700;
	font-size: 18px;
	line-height: 2; /* identical to box height, or 200% */
	letter-spacing: 0.06em;
	color: $title-text-color;
}

.portfolio__text {
	margin: 0;
	font-size: 16px;
	line-height: 1.87; /* identical to box height, or 187% */
	color: $primary-text-color;
}

.overlay {
	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(33, 150, 243, 0.9);
		width: 100%;
		height: 100%;
		transform: translateY(101%);
		transition: transform $transition-time $transition-function;
	}
}

.overlay__wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	padding: 24px;
	transform: translateY(100%);
	transition: transform $transition-time $transition-function;
}
.overlay__text {
	color: $accent-text-color;
	font-size: 18px;
	line-height: 1.556;
}

.portfolio__link:hover .overlay::before,
.portfolio__link:focus .overlay::before,
.portfolio__link:hover .overlay__wrap,
.portfolio__link:focus .overlay__wrap {
	transform: translateY(0);
}