.work__list {
	flex-wrap: wrap;
}

.work__item {
	width: calc((100% - 2 * 30px) / 3);
	position: relative;

	&:not(:nth-child(3n)) {
		margin-right: 30px;
	}

	&::before {
		position: absolute;
		bottom: 0;
		left: 0;
		content: "";
		width: 100%;
		height: 70px;
		background-color: rgba(47, 48, 58, 0.8);
	}
}

.work__text {
	position: absolute;
	bottom: 27px;
	width: 100%;
	margin: 0;
	font-weight: 500;
	line-height: 1.143;
	text-transform: uppercase;
	text-align: center;
	color: $accent-text-color;
}